<footer>
    <div class="footer1">
        <div class="footer1-left">
            <span>ENTER OUR WORLD</span>
            <p>
                Connect with us to keep up to date with the latest product launches and brand events.
                Never miss another drop.
            </p>
        </div>
        <div class="footer1-right">
            <a href="/contactUs" class="slide discoverBtn contact-btn">
                <span class="text-top">CONTACT US <i class="ri-arrow-down-s-fill"></i></span>
                <span class="text-bottom">CONTACT US <i class="ri-arrow-down-s-fill"></i></span>
            </a>
        </div>
    </div>
    <hr>
    <!-- Footer Part 2 -->
    <div class="footer2">
        <div>
            <span>FURLAN MARRI</span>
            <a href="#" style="text-decoration: none; display: block; width: fit-content;">Home </a>
            <a href="#" style="text-decoration: none; display: block; width: fit-content;">All Watches </a>
            <a href="#" style="text-decoration: none; display: block; width: fit-content;">Services </a>
            <% if (loggedIn) { %>
                <a href="/users/profile" style="text-decoration: none; display: block; width: fit-content;">Profile</a>
            <% } else { %>
                <a href="/users/SignUp" style="text-decoration: none; display: block; width: fit-content;">Sign Up</a>
            <% } %>    
        </div>
        <div>
            <span>Email</span>
            <p>Monday - Friday <br> 9:00 am - 6:00 pm</p>
            <p>Support and questions <br>
                <a href="mailto:support@furlanmarri.com">support@furlanmarri.com</a>
            </p>
            <p>Media and press <br>
                <a href="mailto:media@furlanmarri.com">media@furlanmarri.com</a>
            </p>
        </div>
        <div>
            <span>Phone</span>
            <p>Monday - Friday <br> 9:00 am - 6:00 pm</p>
            <p>Support and after sales <br> +41 22 567 07 57</p>
            <p>Offices and showroom in Geneva <br> +41 22 300 50 51</p>
        </div>
        <div>
            <span>Follow Us</span>
            <p><a href="#" style="text-decoration: none;">Instagram</a></p>
            <p><a href="#" style="text-decoration: none;">Vimeo</a></p>
            <p><a href="#" style="text-decoration: none;">YouTube</a></p>
            <p><a href="#" style="text-decoration: none;">Facebook</a></p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <span>Copyright © Furlan Marri SA. All rights reserved.</span>
        <div>
            <a href="#">Privacy Policy |</a> 
            <a href="#">Terms |</a> 
            <a href="#">Returns and Warranty |</a> 
            <a href="#">Sign In |</a> 
            <a href="#">Cookie settings</a>
        </div>
    </div>
</footer>