<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Watches</title>
    <link rel="stylesheet" href="/stylesheets/allCollection.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" />
</head>

<body>


    <%- include('partials/header') %>

        <div id="allCollectionBanner">
            <div class="allCollectionBannerContnet">
                <span>COLLECTIONS</span>
                <p>ALL Collections</p>
            </div>
        </div>


        <div id="allCollection">
            <p class="allCollection-title">ALL COLLECTION</p>

            <div class="collections">
                <div class="collection-item" onclick="window.location.href='/products/mechaquart'">
                    <img src="/assests/collection-MECHAQUARTZ.jfif" alt="Mechaquartz">
                    <span>Mechaquartz</span>
                </div>

                <div class="collection-item" onclick="window.location.href='/products/CornesDeVache'">
                    <img src="/assests/collection-CORNES-DE-VACHE.jfif" alt="Cornes de Vache">
                    <span>Cornes de Vache</span>
                </div>

                <div class="collection-item" onclick="window.location.href='/products/DiscoVolante'">
                    <img src="/assests/collection-Disco-Volante.jfif" alt="Disco Volante">
                    <span>Disco Volante</span>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
            <script src="/javascripts/nav.js"></script>
</body>

</html>